/* Refer to READMe.MD for CA writeup
/* Complete the challenge by writing CSS below */
body{
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    width: 100%;
    height: 90px;
    background-color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 100%;
    background-color: black;
    display: flex;
}
nav a{
    color: white;
    text-decoration: none;
}
#logo{
    /* background-color: saddlebrown; */
    width: 50%;
    /* padding-top: 10px; */
    padding-left: 20px;
}
#right-nav{
    /* background-color: royalblue; */
    width: 50%;
    font-size: 22px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.nav-items{
    padding-right: 30px;
    padding-bottom: 25px;
}

#underline{
  border-bottom: 1px solid white;
}

#search{
    padding-right: 30px;
    padding-bottom: 20px;
}

#main{
    width:100%;
    height: auto;
}

section{
    background-color: white;
    font-size: 0;
}

#slideshow{
    width: 100%;
    height: 500px;
    object-fit: contain;
    overflow: hidden;
}

#slideshow div{
    width: 100%;
    height: 99%;
    background-size: cover;
    background-position: center;
}

#content{
    background-image: url("Content3.jpg");
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

.next {
right: 0;
border-radius: 3px 0 0 3px;
}

.title{
    color: black;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

hr {
    border: none;
    height: 1px;
    background-color: black; /* Modern Browsers */
}

#cat-button{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#cat-button button:hover{
    cursor: pointer;
}

.category{
    font-size: 20px;
    width: 25%;
    height: 40px;
}

.flex-container{
    width: 100%;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-items{
    width: 250px;
    height: 300px;
    margin: 3px;
    border: black;
    /* background-color: #f4e0d7; */
}

.flex-items-container{
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 5px rgb(153, 153, 153);
}

.flex-items p{
    text-align: center;
    font-size: 18px;
    color: #333333;
}

.flex-items-container:hover{
    background-color: #f7f7f7;
}

.flex-items a{
    text-decoration: none;
}

.imgContainer{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#snkrs{
    background-color: black;
    color: white;
    margin-right: 10px;
}

#apprl{
    margin-right: 10px;
    background-color: white;
    color: black;
}

#snkrs, #apprl{
    border: 1px solid black;
    border-radius: 5px;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#snkrs img, #apprl img{
    display: none;
}

#flex-container2 .flex-items-container{
    display: flex;
    justify-content: center;
}

footer{
    width: 100%;
    height: 500px;
    margin-top: 20px;
    border: 1px solid white;
    background-color: black;
    padding-bottom: 30px;
}

.header{
    width: 100%;
    height: 30px;
    font-size: 30px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 2px #9c9598;
}

#form_content{
    width: 450px;
    height: auto;
    margin: 0 auto;
    color: white;
    /* background-color: yellow; */
}
input[type=email],select,textarea{
    color: white;
    border: none;
}
input[type=email],textarea{
    width: 445px;
}
input[type=email],select,textarea{
    border: 1px solid white;
    background: transparent;
    border-radius: 0px;
}
select{
    color: rgb(221, 221, 221);
}

textarea:focus, input:focus, select{
    outline: none;
}

::placeholder{
    color: rgb(221, 221, 221);
}

:-ms-input-placeholder {
    color: rgb(221, 221, 221);
}
  
::-ms-input-placeholder {
color: rgb(221, 221, 221);
}

select{
    width: 450px;
}
input[type=email],select{
    height: 28px;
}
textarea::placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    width: 450px;
    height: 50px;
    font-size: 20px;
    background-color: white;
    color: #445554;
    text-align: center;
    border: none;
}
button:hover{
    background-color: black;
    border: 1px solid white;
    color: white;
}
#social{
    width: 450px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: flex-end ;
}

/*Responsive*/
@media screen and (max-width: 500px) {
    nav{
        /* background-color: blue; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #logo{
        width: 100%;
        /* background-color: yellow; */
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
    #right-nav{
        width: 100%;
        font-size: 19px;
        padding-top: 15px;
        display: flex;
        flex-wrap: wrap-reverse;
    }
    #form_content{
        width: 80%;
    }
    input[type=email],textarea,textarea{
        width: 98%;
    }
    select{
        width: 100%;
    }
    button{
        width: 100%;
    }
    .category{
        font-size: 13px;
    }
}
@media screen and (max-width: 350px) {
    #snkrs label, #apprl label{
        display: none;
    }
    #snkrs img, #apprl img{
        display: block;
    }
}